<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<!--- File Managed by Puppet -->

<configuration>
<!--- global properties -->
<property>
  <name>hadoop.tmp.dir</name>
  <value>/data/storage</value>
  <description>A directory for other temporary directories.</description>
</property>
<!-- file system properties -->
<property>
  <name>fs.default.name</name>
  <value>hdfs://hadoop-master:8020</value>
</property>

<property>
  <name>fs.checkpoint.period</name>
  <value>300</value>
</property>
<property>
  <name>fs.checkpoint.dir</name>
  <value>${hadoop.tmp.dir}/dfs/namesecondary</value>
</property>
</configuration>
