<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<!--- File Managed by Puppet -->

<configuration>
<property>
  <name>dfs.data.dir</name>
  <value>/data/hdfs</value>
</property>
<property>
  <name>dfs.replication</name>
  <value>2</value>
</property>
<property>
  <name>dfs.datanode.max.xcievers</name>
  <value>4096</value>
</property>

<property>
  <name>dfs.namenode.secondary.http-address</name>
  <value>hadoop-secondary:50090</value>
</property>

<property> 
  <name>dfs.namenode.plugins</name> 
  <value>org.apache.hadoop.thriftfs.NamenodePlugin</value> 
  <description>Comma-separated list of namenode plug-ins to be activated. </description> 
</property> 
<property> 
  <name>dfs.datanode.plugins</name> 
  <value>org.apache.hadoop.thriftfs.DatanodePlugin</value> 
  <description>Comma-separated list of datanode plug-ins to be activated. </description> 
</property> 
<property> 
  <name>dfs.thrift.address</name> 
  <value>0.0.0.0:10090</value> 
</property>

</configuration>
