<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<!--- File Managed by Puppet -->

<configuration>
<property>
  <name>mapred.job.tracker</name>
  <value>hdfs://hadoop-secondary:8021</value>
</property>
<property>
  <name>mapred.system.dir</name>
  <value>/mapred/system</value>
</property>

<property> 
  <name>jobtracker.thrift.address</name> 
  <value>0.0.0.0:9290</value> 
</property> 
<property> 
  <name>mapred.jobtracker.plugins</name> 
  <value>org.apache.hadoop.thriftfs.ThriftJobTrackerPlugin</value> 
  <description>Comma-separated list of jobtracker plug-ins to be activated.</description> 
</property>

</configuration>
